<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div> 
        <nav class="navbar navbar-black bg-primary" style="color: aliceblue;">
            <h2>footer.ejs</h2>
          </nav>
    </div>
</body>
</html>